.signup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    // height: calc(100vh - 64px);
    // height: 100%;
    min-height: calc(100vh - 64px);
    padding-left: 100px;
    padding: 30px 0 60px 100px;

    .signup-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        min-width: 450px;

        h1 {
            font-size: rem(50px);
        }

        .to-login {
            display: flex;
            gap: 5px;
            margin-bottom: 40px;

            a {
                color: #2196F3;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 8px;

            button {
                margin-top: 40px;
                border: none;
                padding: 8px;
                border-radius: 5px;
                background-color: #2196F3;
                color: white;
                font-size: 18px;
                transition: 0.3s;

                &:hover {
                    background-color: #48aafb;

                }
            }

            .input {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 8px;

                p {
                    font-size: 15px;
                }

                input {
                    width: 100%;
                    padding: 8px;
                    opacity: 1;
                    background-position: left 12px center;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    background-color: #F5F9FE;
                    transition: 0.1s;
                    cursor: pointer;

                    &:focus-within {
                        outline: 2px solid #2196F3;
                    }
                }
            }

        }
    }

    .signup-img {
        max-width: em(1100px);
        max-height: 100%;
    }
}