.users {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 64px);
    padding: 60px 30px;
    height: 1px;
    overflow: auto;

    .users-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: em(900px);

        .header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-between;

            .search-add {
                display: flex;
                gap: 20px;
                align-items: center;
                justify-content: center;

                button {
                    border: none;
                    padding: 8px;
                    border-radius: 5px;
                    background-color: #2196F3;
                    color: white;
                    font-size: 15px;
                    transition: 0.3s;

                    &:hover {
                        background-color: #48aafb;

                    }
                }

                .search {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 8px;
                    border-radius: 10px;
                    background-color: #ECEDF6;
                    background-color: #F5F9FE;

                    transition: 0.06s;
                    cursor: pointer;

                    &:focus-within {
                        outline: 2px solid #2196F3;
                    }

                    input {
                        font-size: 15px;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        background-color: #ECEDF6;
                        background-color: #F5F9FE;

                    }
                }
            }

            h1 {
                font-size: rem(50px);
            }
        }

        .all-users {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
            gap: 8px;
            padding-bottom: 60px;

            .first-user {
                margin-bottom: 20px;
            }

            .block {
                height: 2px;
                width: 100%;
                background-color: #e5ecf6;
                margin-bottom: 20px;
                border-radius: 5px;
            }

            .user,
            .first-user {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                background-color: #F5F9FE;
                padding: 10px 20px;
                border-radius: 5px;
                transition: 0.3s;

                &:hover {
                    background-color: #e5ecf6;
                }

                .info {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .avatar {
                        width: em(65px);
                        height: em(65px);
                        background-color: white;
                        object-fit: cover;
                        border-radius: 50px;
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            border-radius: 100%;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .user-name {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        h1 {
                            font-size: 25px;
                        }
                    }
                }

                .btns {
                    display: flex;
                    gap: 8px;

                    .edit-btns {
                        display: flex;
                        gap: 8px;
                    }

                    svg {
                        cursor: pointer;
                        fill: #191919;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {

    .users .users-info .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .users .users-info .all-users .user,
    .users .users-info .all-users .first-user {
        .user-name {
            h1 {
                font-size: 16px !important;
            }
            p{
                font-size: 14px !important;
            }
        }
    }
    .users .users-info .all-users .user .btns, .users .users-info .all-users .first-user .btns{
        svg{
            width: 20px;
            height: 20px;
        }
    }
    .users .users-info .header .search-add{
        width: 100%;
        justify-content: space-between;
    }
    .users .users-info .header .search-add .search{
        width: 100%;
        justify-content: space-between;
    }
    .users .users-info .header .search-add button{
        padding: 3px;
        width: fit-content;
    }
}